/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/06/2015, 05:47:46 PM
    Author     : Wilmer
*/
.resumen_info{
    position: fixed;
    background:#FFF none repeat scroll 0% 0%;
    padding: 8px 20px;
    transition-duration: 0.2s;
    transform: translateZ(0px);
    z-index: 10;
    margin-top: -20px;
    width: 75%;
    box-shadow:0 1px 2px rgba(0,0,0,.2);
}
.resumen_info > div > h3{
    margin-top: 0px;
}
.resumen_info > div > img {
    max-height: 100px;
    max-width: 100px
}
input.force-select2{
    width: 100% !important;
    opacity: 0 !important;
    height: 0px !important;
    padding: 0px !important;
}