body{
    min-height: 100%;
}

.footer{
    padding-top: 20px;
}

.table > tbody > tr > th,
.table > tbody > tr > td{
    padding: 2px !important;
    vertical-align: middle;
}

.f_fecha{
    width:100px;
    height: 32px;
}

.input-bajito{
    width: 40px;
    height: 24px !important;
}

.input-cortico{
    width: 24px !important;
    height: 24px;
}

.celda_redondeada{
    border-radius: 2mm 2mm 2mm 2mm !important;
    border-width: 1px !important;
    border-color: #000000 !important;
    border-style: solid !important;
    padding: 2px !important;
}

.datepicker{
    z-index:1151  !important; /*colocar datepicker por encima de modal y otras capas*/
}

.clockpicker-popover{
    z-index:1151  !important; /*colocar datepicker por encima de modal y otras capas*/
}

input[type="checkbox"] {
    transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5); /* IE 9 */
    -moz-transform:scale(1.5,1.5); /* Firefox */
    -webkit-transform:scale(1.5,1.5); /* Safari and Chrome */
    -o-transform:scale(1.5,1.5); /* Opera */
}
input[type="radio"] {
    transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5); /* IE 9 */
    -moz-transform:scale(1.5,1.5); /* Firefox */
    -webkit-transform:scale(1.5,1.5); /* Safari and Chrome */
    -o-transform:scale(1.5,1.5); /* Opera */
}

.help-transparente{
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
}

.table_titulo_interna{
    font-size: 80% !important;
    padding: 1px !important;
    background-color: #cccccc !important;
    border:1px;
}

.table_celda_interna{
    font-size: 80% !important;
    padding: 1px !important;
}

@media all {
    div.saltopagina{
        display: none;
    }
}

@media print {
    .no_imprimir{
        display: none !important;
    }
    .pulsejs-bar{
        display: none !important;
    }
    .imp_small{
        font-size: 80% !important;
        padding: 1px !important;
        background-color: #cccccc !important;
    }
    td{
        padding: 2px !important;
    }
    div.saltopagina{
        display:block;
        page-break-before:always;
    }
    .text-imp-13{
        font-size:13px !important;
        letter-spacing:-1px !important;
    }
    .text-imp-12{
        font-size:12px !important;
        letter-spacing:-1px !important;
    }
    .text-imp-11{
        font-size:11px !important;
        letter-spacing:-1px !important;
    }
    .text-imp-10{
        font-size:10px !important;
        letter-spacing:-1px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .banner {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.btn_grid {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    padding-top: 13px;
}
.btn_grid .banner {
    background-color: #088389;
    color: #ffffff;
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    font-size: 18px;
    padding: 59px 0 14px;
}

.btn_gid-top-left{
    background-color: #00B1BA !important;
    border-radius: 4mm 0mm 0mm 0mm;
}
.btn_gid-top-right{
    border-radius: 0mm 4mm 0mm 0mm;
}
.btn_gid-bottom-left{
    border-radius: 0mm 0mm 0mm 4mm;
}
.btn_gid-bottom-right{
    background-color: #00B1BA !important;
    border-radius: 0mm 0mm 4mm 0mm;
}
.col-banner{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.btn_grid .banner .fa {
    margin-bottom: 27px;
    display: block;
    font-size: 72px;
    line-height: 48px;
}
.btn_grid .banner:first-child + .banner {
    background-color: #00b1ba;
    border-radius: 0mm 4mm 0mm 0mm;
}
.btn_grid .banner:first-child + .banner + .banner {
    background-color: #00b1ba;
    border-radius: 0mm 0mm 0mm 4mm;
}
.btn_grid .banner + .banner + .banner {
    padding-top: 63px;
    padding-bottom: 5px;
    border-radius: 0mm 0mm 4mm 0mm;
}
.btn_grid .banner.maxheight1 .fa {
    margin-bottom: 26px;
}
.btn_grid .banner:hover {
    background-color: #000000 !important;
}

.banner {
    font-size: 24px !important;
    float: none !important;
    width: 100% !important;
}

.btn-circle{
    border-radius: 100% !important;
    width: 39px !important;
    height: 39px !important;
}
table.alternativo{
    width: 100% !important;
}
.td-small{
    padding: 1px 5px 1px 5px !important;
    color:#ffffff;
    font-weight: bold;
}

input.force-select2{
    width: 100% !important;
    opacity: 0 !important;
    height: 0px !important;
    padding: 0px !important;
}
.input-error:focus{
    border-color: #FC5353 !important;
    background-color: #FDF5F5 !important;
}
.input-error{
    border-color: #FC5353 !important;
    background-color: #F8D7DA !important;
}
.force-selectmenu{
    width: 100% !important;
    opacity: 0 !important;
    height: 0px !important;
    padding: 0px !important;
}

.btnChatComet {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    right: 40px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-style:italic;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.btnChatComet:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
    color:#ffffff;
    text-decoration:none;
}
.btnChatComet:active {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    z-index: 1;
    color:#ffffff;
    text-decoration:none;
}

.btnSupport {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    right: 120px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-style:italic;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.btnSupport:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
    color:#ffffff;
    text-decoration:none;
}
.btnSupport:active {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    z-index: 1;
    color:#ffffff;
    text-decoration:none;
}

.bs-callout {
    padding: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-purple{
    border-left-color: rgba(68, 1, 93,1);
}
.bs-callout-grey {
    border-left-color: #d4d4d4;
}
.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-purple h4{
    color: rgba(68, 1, 93,1);
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p{
    color: #2c2d2d;
}

.user-muro>img{
    object-fit: cover !important;
    max-width: 40px;
    max-height: 80px;
}
.user-muro{
    display: inline-block;
    width: 42px;
    max-width: 42px;
    position: absolute;
}

/* estilos timeline sesiones */
.widget-main {
    padding: 6px 12px 12px 12px;
}
.label.label-lg {
    width: 250px;
}
.label.label-info {
    background-color: #5bc0de !important;
}
.btns-timeline-container {
    padding: 5px 0;
}
.main-timeline-container {
    padding: 10px 10px 10px 20px;
}
.label-info.arrowed-in-right::after {
    border-color: #5bc0de transparent #5bc0de #5bc0de !important;
    -moz-border-left-colors: #5bc0de !important;
}
.timeline-item .widget-box {
    margin-left: 70px;
    background-color: #e5edf4;
}
.timeline-item .widget-box.task {
    margin-left: 140px;
    background-color: #f8f8f8;
}
.alt-timeline-container .timeline-item .widget-box {
    margin-left: 0;
}
.alt-timeline-container .timeline-item .widget-box.task {
    margin-left: 140px;
}
.timeline-item .transparent .widget-header {
    background-color: #e3e6e8;
}
.lm-btn, .lm-btn:link, .lm-btn:visited {
    text-decoration: none;
}
.lm-timeline {
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    text-shadow: none !important;
}
/* estilos comentarios */
.rv-comments-list {
    display: none;
}
.rv-comments-display,
.rv-comments-display:link,
.rv-comments-display:active,
.rv-comments-display:hover,
.rv-comments-display:focus,
.rv-comments-display:visited {
    color: #337ab7;
}
.rv-comments-display:focus:hover {
    text-decoration: underline;
}
.rv-comments-box {
    background: #fff;
    border: 1px solid #ccc;
}
.rv-comments-header {
    padding: 0 12px;
}
.rv-comment-item {
    display: flex;
    padding: 4px 12px;
}
.rv-comment-photo {
    display: inline-block;
    width: 32px;
    margin-top: 2px;
}
.rv-comment-photo img {
    border: 0 !important;
    padding: 0 !important;
    width: 32px !important;
    height: 32px !important;
}
.rv-comments-replies {
    display: inline-block;
    width: calc(100% - 32px);
}
.rv-comment-body {
    margin-left: 10px;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    color: #181818 !important;
}
.rv-replies-list {
    padding-left: 10px;
    border-left: 2px solid #d7d7d7;
}
.rv-reply-comment,
.rv-reply-comment:link,
.rv-reply-comment:link:active,
.rv-reply-comment:visited,
.rv-reply-comment:visited:active {
    color: #47a0e6;
}
.rv-add-comment {
    padding: 4px 12px 10px 12px;
}
.rv-add-comment-photo {
    float: left;
    position: relative;
}
.rv-add-comment-photo img {
    border: 0 !important;
    padding: 0 !important;
    width: 32px !important;
    height: 32px !important;
}
.rv-add-comment-container {
    overflow: hidden;
}
.rv-add-comment-body {
    overflow: visible;
    position: relative;
    margin-left: 10px;
}
.rv-input-comment {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    color: #181818 !important;
}
.rv-reply-item {
    display: flex;
    padding: 0 12px 4px 0;
}
.rv-reply-photo {
    display: inline-block;
    margin-top: 2px;
}
.rv-reply-photo img {
    border: 0 !important;
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;
}
.rv-add-reply {
    display: none;
    padding: 0 0 4px 10px;
    border-left: 2px solid #d7d7d7;
}
.rv-add-reply-photo {
    float: left;
    position: relative;
}
.rv-add-reply-photo img {
    border: 0 !important;
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;
}
.rv-input-reply {
    height: 24px !important;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    color: #181818 !important;
}

.del-elem-li:hover i {
    color:rgba(187, 187, 187, 1);
}
.del-elem-icon {
    color:rgba(187, 187, 187, 0);
}
.fake-anchor {
    cursor: pointer;
}
.rv-task-tab-content.tab-content {
    padding: 8px 12px 0 12px;
}
.rv-tabs-width > li {
    width: 150px;
}
.rv-input-error {
    background-color: #fef9f8 !important;
    border-color: #f2a696 !important;
    color: #d68273 !important;
}

.rv-square-container {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.rv-square-btn {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 220px;
    height: 220px;
    border-radius: 40px;
    border-style: solid;
    border-width: 10px;
}
.rv-square-btn span {
    display: block;
    font-size: 24px;
}

/*Custom Autocomplete*/
.ui-menu .ui-menu-item{
    color: #4297d7;
    font-weight: bold;
}
.ui-menu .ui-state-focus{
    color: white !important;
    font-weight: bold;
}

.modal-open {
    overflow: scroll;
}

.text-truncate{
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
/*Custom Autocomplete*/

/* Dejamos ya solo pulse chat
.pulsejs-bar{
    left: 20px !important;
} */